<!DOCTYPE html>
{%load static%} <!--para queagarre el css-->
{%load static%}
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"> <!--liga del framework css-->
        
        
</head>
    <body>
        
        <h1  class="ejemplo1">Listando elementos de una db</h1>
        <h2  class="ejemplo2">cargando estilos</h2>
        
        <!-- Anchors (links) -->
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button">View All Features</a>
    
    <!-- Buttons (actions) -->
    <button class="submit success button">Save</button>
    <button type="button" class="alert button">Delete</button>
    </body>
    
</html>
